@tailwind base;
@tailwind components;
@tailwind utilities;

.borderless-select.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: none !important;
}
.transparent-select.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    background: transparent !important;
}
/* Custom styles for Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  width: 20px;
  height: 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  color: rgb(199 32 49) !important;
}
/* Custom styles for Swiper pagination dots */
.swiper-pagination-bullet {
    background: rgb(199 32 49) !important;
  }
  
  .swiper-pagination-bullet-active {
    background: rgb(199 32 49) !important;
  }
  
  .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector{
    border-color: #C72031 !important;
    color: #ffffff !important;

  }

  .ant-pagination .ant-pagination-item-active a{
    color: #ffffff !important;
    background-color: #C72031;
    border-radius: 50px !important;


  }
  .ant-pagination .ant-pagination-item-active{
    border-color: white !important;
  }
  .ant-pagination .ant-pagination-item{
    line-height: 40px !important;
    min-width:40px !important;
    height: 40px !important;
  }
  

  .link-underline, .link-footer {
    position: relative;
    display: inline-block;
}

.link-underline::after, .link-footer:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.link-footer:after{
  background-color: #C72031 !important;
}

.link-underline:hover::after, .link-footer:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.custom-shadow {
  box-shadow: 0px 3px 21px #3737D512;
}
:where(.css-dev-only-do-not-override-17seli4).ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 3px;
}