@tailwind base;
@tailwind components;
@tailwind utilities;

.borderless-select.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: none !important;
}
.transparent-select.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    background: transparent !important;
}
/* Custom styles for Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  width: 20px;
  height: 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  color: rgb(199 32 49) !important;
}
/* Custom styles for Swiper pagination dots */
.swiper-pagination-bullet {
    background: rgb(199 32 49) !important;
  }
  
  .swiper-pagination-bullet-active {
    background: rgb(199 32 49) !important;
  }
  
  .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector{
    border-color: #C72031 !important;
  }