@tailwind base;
@tailwind components;
@tailwind utilities;


.borderless-select.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: none !important;
}
.transparent-select.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    background: transparent !important;
}
/* Custom styles for Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  width: 20px;
  height: 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  color: rgb(199 32 49) !important;
}
/* Custom styles for Swiper pagination dots */
.swiper-pagination-bullet {
    background: rgb(199 32 49) !important;
  }
  
  .swiper-pagination-bullet-active {
    background: rgb(199 32 49) !important;
  }
  
  .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector{
    border-color: #C72031 !important;
    color: black !important;

  }
  .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector{
    border-color: #C72031 !important;

  }

  .ant-pagination .ant-pagination-item-active a{
    color: #ffffff !important;
    background-color: #C72031;
    border-radius: 50px !important;


  }
  .ant-pagination .ant-pagination-item-active{
    border-color: white !important;
  }
  .ant-pagination .ant-pagination-item{
    line-height: 40px !important;
    min-width:40px !important;
    height: 40px !important;
  }
  

  .link-underline, .link-footer {
    position: relative;
    display: inline-block;
}

.link-underline::after, .link-footer:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.link-footer:after{
  background-color: #C72031 !important;
}

.link-underline:hover::after, .link-footer:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.custom-shadow {
  box-shadow: 0px 3px 21px #3737D512;
}
.ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 3px;
}
.ant-pagination-item {
  box-shadow: 0px 3px 21px #3737D512;
}

.ant-popover-content{
  width: 1280px;
}

@media screen and (max-width: 1390px) {
  .ant-popover-content{
    width: 1100px;
  }
}
@media screen and (max-width: 1230px) {
  .ant-popover-content{
    width: 900px;
  }
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color:black !important;
}
.ant-tabs .ant-tabs-tab:hover{
  color:black !important;
}
.ant-tabs .ant-tabs-ink-bar{
  background: #C72031 !important;
}

.back-transparent{
  background: transparent !important;
}
.ant-drawer .ant-drawer-close{
  background-color: white !important;
  padding: 10px;
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.ant-tabs .ant-tabs-tab{
  color: black !important;
}


@media screen and (max-width: 768px) {
  .color-black.ant-tabs .ant-tabs-tab{
    color: black !important;
    border-bottom: #C72031 !important
  }
  .color-black.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:black !important;
    border-bottom: #C72031 !important
  }
  .color-black.ant-tabs .ant-tabs-tab:hover{
    color:black !important;
    border-bottom: #C72031 !important
  }

  .color-white.ant-tabs .ant-tabs-tab{
    color: white !important;
  }
  .color-white.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:white !important;
    border-bottom: #C72031 !important;
  }
  .color-white.ant-tabs .ant-tabs-tab:hover{
    color:white !important;
  }
}